{
  "extends": "airbnb",
  "env": {
		"browser": true,
    "es6": true,
    "jest": true
	},
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["error", "never", { "packages": "always" }],
    "react/require-default-props": [0],
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "arrow-body-style": ["error", "always"],
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "some": ["nesting", "id"]
      }
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  }
}