@import '../../styles/mixVar';


/* ===== MAIN ============= */

.main-container {
  position: absolute;
  top: $header-height;
  bottom: 0;
  width: 100%;
}

.page-wrap {
  position: relative;
  height: 100%;
}


/* ===== MAIN PAGE TRANSITIONS ============= */

.main-page-enter {
  &.home-container {
    @include transform(translateX(-100%));
  }
  &.about-container {
    @include transform(translateX(100%));
  }
}

.main-page-enter.main-page-enter-active {
  @include transform(translateX(0));
  @include transitionTransform(1s cubic-bezier(0.230, 1.000, 0.195, 0.995));
}

.main-page-leave {
  @include transform(translateX(0));
}

.main-page-leave.main-page-leave-active {
  &.home-container {
    @include transform(translateX(-100%));
  }
  &.about-container {
    @include transform(translateX(100%));
  }
  @include transitionTransform(1s cubic-bezier(0.230, 1.000, 0.195, 0.995));
}
