/* ===== TEXT FIELD ============= */

.text-field-comp {
  h2 {
    font-weight: 300;
  }
  input[type="text"] {
    font-size: 14px;
    color: #797979;
    margin: 10px auto;
    padding: 5px 10px;
    width: 200px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
  }
}
